
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 5px;
    border: 1px solid;
    border-color: #e14859;  
    overflow: hidden;
}

.window {
    position: fixed;

}

.body {

}
.author-message-date {
    padding: 10px;
    font-size: 16px;
    color: gray;
}

.author-logo {
    line-height: 50px;
    background-color: indianred;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.message {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    
}

.author-info {
    width: 160px;
    display: flex;
    align-items: center;
    padding: 10px;
    }

.author-message-text {
    border: 1px solid;
    border-color: lightblue;
    border-radius: 5px;
    padding: 10px;
}

.author-message {
    width: 550px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    border-left: 2px solid green;
    height: 100%;}

.author-name {
    font-size: 18px;
    color: lightcoral;
    padding: 10px;
}

